    <header>
        <h1>Minhas Notas</h1>
    </header>
    <section id="tela">
        <nav>
            <form action="/NovaNota" method="get">
                <div id="addnote">
                            <button class="add" onclick="adicionar()">+</button>
                            <p class="addnote">Add Note</p>
                </div>
            </form>
            <aside id="history">
        
            </aside>
        </nav>
        <main>
            <!-- Receber div .class = note das novas notas -->
            {{#each nota}}
                <div id="boxnote">
                    <div id="nota" data-id="{{id}}">
                        <h2>{{titulo}}</h2>
                        <p>{{texto}}</p>
                    </div>
                    <div class="boxbottonsnote">
                        <button onclick="window.location.href=`http://localhost:8081/Nota/{{id}}`" class="buttonsnote">Abrir</button>
                        <button onclick="deletarAnotacao('{{id}}')" class="buttonsnote">Apagar</button>
                    </div>
                </div>
            {{/each}}
        </main>
    </section>
    <script src="/functions.js"></script>
